/** BODY **/

/* toggle button colors */
.btn-primary {
    background-color: #4EA4A6;
    border-color: #41898B;
}

#footer {
    background-color: #e7e7e7;
    font-weight: 400;
}

#footer div {
    position: absolute;
}

#footer span {
    margin-right: 50px;
    font-size: 15px;
}

#footer #left {
    left: 0;
    top: -25px;
}

#footer #right {
    text-align: right;
    right: 110px;
    top: -35px;
}

.btn-primary.active {
    background-color: #007D8C;
    border-color: #005C66;
}

body {
    font-family: 'Roboto', sans-serif;
    padding-left: 50px;
    padding-right: 50px;
}


h1 {
    font-size: 60px;
    font-weight: 100;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    font-size: 40px;
    font-weight: 200;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

h3 {
    font-size: 30px;
    font-weight: 200;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.section {
    padding-left: 100px;
    padding-right: 100px;
}